@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100;200;300;400;500;700;900&family=Nunito:wght@200;300;400;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Genos', sans-serif;
    

text-decoration: none;
}

html,body{
    justify-content: center;
    align-items: center;
    font-family: 'Exo', sans-serif;
    background: #FFF;
    max-width: min-content;
    margin-inline: auto;
    overflow-x: hidden;
    color: #2BAE66;
    
}



.navbar{
    font-size: 25px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:50px ;
    top: 0;
    
}

//.darkmode{
 //  width: 50px;
 //  height: 20px;
 //  border: 1px solid;
 //  border-radius: 20px;
 //  position: relative;
   
//}
//.mode{
 //  width: 20px;
 //  height:20 px;
 //  background: #38393a;
//   border: 1px solid;
  // position: absolute;
   //
//}

.text1{
    font-size: 30px;
   margin-right: 400px;
   color: #8307ff;
}

.navitems{
    display: flex;
    list-style: none;
    gap: 30px;   
}

.item:hover{
    border-bottom: 3px solid #8307ff; 
}

#sayhello{
   height: 50px;
   width: 200px;
   text-align: center;
   background: #8307ff;
   padding: 6px;
   margin-top: -7px;
   
}




.head-img{
    height: 380px;
    width: 350px;
    border-radius: 100px;
    filter: grayscale(100%);
    transition: 0.5 ease;
    cursor: pointer;
}

.head-img:hover{
   transform: scale(1);
   filter: grayscale(0%);
}




.headtext{
   display: block;
   margin-top: 20px;
   
}


.header{
    display: flex;
    gap: 80px;
    margin-top: 180px;
    align-items: center;
    justify-content: center;
    margin-bottom: -100px;
    width:calc(800px + 350px);
    margin-inline: auto;
    
 }

.text-a{
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 17px;
}

.text-b{
    font-size: 60px;
    text-align: center;
    color: #333333;
    margin-bottom: 5px;
}

.text-c{
    font-size: 40px;
    text-align: center;
    color: #8307ff;
    margin-bottom: 17px;
}



.button{
    display: flex;
    //margin-inline: auto;
    margin-left: 30%;
   
    
}



.btn1{
    width: 120px;
    font-size: 20px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-right: 10px; 
    color: #fff;
}

.btn2{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-right: 10px; 
    background: #38393a;
    color: #fff;
    font-size: 20px;
}

.icon {
   margin-top: 30px;
   padding-left: 0px; 
   margin-left: 28%;
}

.icon .icosocial{
    margin-top: 30px;
    padding-left: 0px; 
    margin-left: 19px;
    color: #8307ff;
}



a{
    color: black;
}

.about{
    margin-top: 470px;
    margin-bottom: 0px;
    padding-top: 50px;
   width: 100%;
   height: 700px;
   background: #8307ff;
  
  
   
}

.about .about1, .about2{
   text-align: center;
   color: #fff; 
}

.about .about1{
    margin-bottom: 20px;
    font-size: 25px;
 }

 .about .about2{
   font-size: 70px;
   color: #fff;
 }

 .about-img{
    width: 340px;
    height: 380px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
   
 }


 .aboutsub{
   display: flex;
   margin-top: 50px;
   margin-inline: auto;
   width: 1000px;
   height: 400px;
   align-items: center;
   justify-content: space-between;
   
   text-align: center;
   
 }

 .para{
   display: inline-block;
 }

 .about-p1{
   font-size: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 40px;
   text-align: justify;
   line-height: 30px;
   color: #fff;
 }

 .about-p2{
   margin-top: 0px;
   margin-bottom: 20px;
   text-align: justify;
   font-size: 15px;
 }

 .about-p3{
   font-size: 15px;
   margin-top: 0px;
   margin-bottom: 100px;
   text-align: justify;
 }

 .junior{

   font-size: 50px;
   color: #fff;
   font-weight: 350;
 }

 



 .about-h1{
   color: #8307ff;
   font-size: 15px;
   display: flex;
   text-align: center;
   margin-top: 60px; 
 }
 




 .svg1{
    margin-top: -10px;
    margin-bottom: -100px;
    color: #333333;
 }


.ico{
 margin-left: 160px;
}



 .h1-1{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
 }


 .h1-2{
    font-size: 17px;
    color: #45474B;
    margin-top: 10px;
    text-align: center;
 }



 .exper{
   color: #333333;
    width: 100%;
    height: fit-content;
    padding-bottom: 30px;
    background: #f0eef14d;
    //border-radius: 20px;
     
 }

 

 .expert{
   display: flex;
   gap: 50px;
   justify-content: center;
 }

 .expert-1{
   display: flex;
   
   justify-content: center;
   gap: 50px;
 }

 
 .exp-title{
   font-size: 65px;
   margin-top: 45px;
   margin-bottom: 20px;
   text-align: center;
   color:#333333;
 }

 .exp-stitle{
   text-align: center;
   margin-bottom: 25px;
   margin-top: 30px;
   color: #fff;
   background: #8307ff;
   width: 800px;
   height: 40px;
   margin-inline: auto;
   border-radius: 30px;
 }

 svg{
   color:#333333;
 }

 .text1-exper{
    text-align: center;
    font-size: 25px;
    padding-top:60px ;
   color: #333333;
   
 }

 .text2-exper{
    text-align: center;
    font-size: 90px;
    color: #8307ff;
   
 }

 .exper-content{
    display: flex;
    gap: 120px;
    padding-left: 120px;
    padding-right: 100px;
    font-size: 12px;
    margin-top: 35px;
    margin-bottom: 50px;
    color: #333333;
    
 }

 .twopart{
   display: block;
 }

 .leftpart{
   display: block;
 }

 .element{
    
    padding-top: 35px;
    font-size: 16px;
    
    
 }

 .ic{
    padding-right: 15px;
 }


 .sub-element{
    
    padding-top: 20px;
    font-size: 14px;
    color: #45474B;
    
 }


 .content .title-content{
    
    padding-top: 20px;
    font-size: 20px; 
    display: block; 
 }

 .title-content:hover{
    border-bottom: 3px solid #ffc107;
    padding-bottom: 10px;
 }



 .projects{
    width: 100%;
    height: fit-content;
    margin-bottom: 200px;
    background: #f1f0f0;
    margin-top: 70px;
    padding-bottom: 30px;
    
   
 }



.cards{
    display: flex;
    gap: 30px;
    //margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    //margin-bottom: 15px;
    

}

.card1{
    width: 280px;
    height: fit-content;
    background: white;
    border-radius: 30px;
    padding-bottom: 20px;
}

.card2{
   width: 280px;
   height: fit-content;
   padding-bottom: 20px;
   background: white;
   border-radius: 30px;
}

.card3{
   width: 280px;
   height: fit-content;
   padding-bottom: 20px;
   background: white;
   border-radius: 30px;
}

.card4{
   width: 280px;
   height: fit-content;
   padding-bottom: 20px;
   background: white;
   border-radius: 30px;
}

.project-img{
    width: 280px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 30px 30px 0 0;

}

.text1-projects{
   text-align: center;
   font-size: 25px;
   padding-top:60px ;

}

.text2-projects{
    
    text-align: center;
    font-size: 90px;
    color: #8307ff;
}

.project-button{
   display: flex;
   margin-bottom: 20px;
   margin-left: 30px;
   gap: 20px;
}

.project-btn1{
   width: 100px;
   height: 40px;
   border-radius: 20px;
   border: none;
   font-size: 20px;
}

.project-btn2{
   width: 100px;
   height: 40px;
   border-radius: 20px;
   border: none;
   background: #45474B;
   color: white;
   font-size: 20px;
}


.project-text1{
   text-align: center;
   font-size: 19px;
   padding-top:10px ;
   margin-bottom: 15px;
}

.project-text2{
   text-align: center;
   font-size: 20px;
   padding-top:2px ;
   padding-bottom: 5px;
   
}




.collaborate{
   width: 100%;
   height: 400px;
   background: #333333;
   padding-top: 80px;
   text-align: center;
}

.text1-colla{
   color: white;
   font-size: 25px;
   margin-bottom: 25px;
}

.text2-colla{
   color: white;
   font-size: 45px;
   margin-bottom: 25px;
}

.btn-colla{
   width: 200px;
   height: 60px;
   border-radius: 20px;
   border: none;
   color: white;
   
   font-size: 20px;
}










  .contact{
    width: 100%;
    height: 650px;
    background: white;
 }

 
.contact-img{
   height: 150px;
   width: 130px;
   border-radius: 200px;
   filter: grayscale(100%);
   transition: 0.5 ease;
   cursor: pointer;
   margin-top: 70px;
   margin-bottom: 50px;
 margin-left: 45%;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.contact-img:hover{
  transform: scale(1.1);
  filter: grayscale(0%);
}








 
 .text1-contact{
    text-align: center;
    font-size: 25px;
    padding-top:60px ;
    color: #45474B;
    margin-bottom: 20px;
   
 }


 .text2-contact{
    text-align: center;
    color: #8307ff;
    font-size: 80px;
    
   
 }

 .text3-contact{
   text-align: center;
   color: #45474B;
   font-size: 17px;
   margin-top: 100px;
   
  
}

 .contact-input{
    margin-left: 550px;
    width: 360px;
    height: 80px;
    border-radius: 20px;
    border: 0.25px solid;
    margin-top: 30px;
    background: #f4f4f4;
    color: white;
   
 }











 .text-a{
   opacity: 0;
 }

 .text-a.animate__animated{
   opacity: 1;
 }


 .glass{
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 20px;
   border:1px solid rgba(255, 255, 255, 0.18);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   height: 600px;
   margin-bottom: -400px;
  
}

.glasss{
  // background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
   backdrop-filter: blur(10px);
   background: #8307ff;
   -webkit-backdrop-filter: blur(10px);
   border-radius: 20px;
   border:1px solid rgba(255, 255, 255, 0.18);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   
  
}

 



//Media-queries
@media all and (max-width: 550px){
   .headtext{
      text-align: center;
      font-size: 15px;
      background: yellowgreen;
   }

   
   .header{
      display: block;
      font-size: 12px;
   }


}

@media all and (max-width: 600px){
   .headtext{
      text-align: center;
      font-size: 15px;
      
   }


   .head-img{
      width: 200px;
      height: 200px;
      margin-top: 15px;
      margin-left: 15%;
      border-radius: 100px;
    filter: grayscale(100%);
    transition: 0.5 ease;
    cursor: pointer;
   }

   .head-img:hover{
      transform: scale(1);
      filter: grayscale(0%);
   }

   .button{
      display: flex;
      margin-inline:150px;
      justify-content: space-between;
   }

   .btn1{
      width: 250px;
   }

   .btn2{
      width: 220px;
   }

   .icon{
      margin-inline: auto;
   }

   


   .navbar{
      background: #8307ff;
      display: block;
      margin-inline: auto;
      padding-bottom: 10px;
      top: 0;
      color: #fff;
      margin-bottom: 20px;
   }
   .navitems{
      text-align: center;
      display: flex;
      font-size: 15px;
      justify-content: center;
      align-items: center;
      color: #fff;  
   }

   .item a{
      color: #fff;
   }

   .item:hover{
      border-bottom: 3px solid #fff;
      border-top: 3px solid #fff;
  }

   .para{
      width: 400px;
    }
    .about-p1{
      overflow: auto;
      width: fit-content;
    }


    h1 .about2{
      font-size: 5px;
    }



   

   .glasss{
     display: none;
   }

   .text1{
      display: none;
    }

     
   .header{
      margin-top: 0;
      display: block;
      font-size: 12px;
      width: 280px;
      height: fit-content;
      padding-bottom: 15px;
   }

   .icon{
      margin-top: -15px;
   }

   .text-a{
      font-size: 10px;
      visibility: visible;
   }

   .text-b{
      font-size: 30px;
      margin-top: -20px;
   }

   .text-c{
      font-size: 25px;
   }



   
   .about{
      display: block;
      margin-inline: auto;
      height: fit-content;
   }

   .aboutsub{
      display: block;
      width: 280px;
      height: fit-content;
      padding-bottom: 20px;
   }

   .about-img{
     
     width: 280px;
     height: 330px;
     margin-left: 0.8%;
   }

   .para{
      display: block;
      width: 280px;
      padding-right:26px ; 
    }

    .about-p1{
      font-size: 18px; 
      text-align: center;
      overflow-wrap: break-word;
      text-align: center;
    }

    .exp-title{
      font-size: 30px; 
      width: auto;
    }

    .exp-stitle{
      width: 200px;
      height: 30px;
      font-size: 20px;
    }

    .expert-1{
      display: block;
      padding-left: 20%;
    }

    .expert{
      display: block;
      padding-left: 20%;
    }

    svg{
      height: 3em;
    }


    .text2-exper{
      font-size: 70px; 
      width: auto;
    }
    .svg1{
      width: 100px;
      height: 100px;
      margin-inline: auto;
      display: block;
      margin-bottom: 10px;
    }

    .svg{
      width: 200px;
      height: 200px;
    }
    .expert{
      display: block;
    }

    .exper{
      height: fit-content;
    }

    .cards{
      padding:0;
      display: block;

    }
    .size{
      margin-bottom: 25px;
      margin-left: -45px;
    }

    .projects{
      height: fit-content;
      padding-bottom: 15px;
      width: 290px;
    }

    .text2-projects{
      font-size: 70px;
    }

    .collaborate{
      height: fit-content;
      padding-bottom: 15px;
    }

    .contact{
      height: fit-content;
      width: 294px;
      padding-bottom: 15px;
    }

    .contact-img{
      margin-top: 20px;
      margin-left: 80px;
     
      //margin: 50px 50px 50px;
    }


    .text2-contact{
      font-size: 70px;
    }

    .humburger{
      display: block;
    }


}

.bar{
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px 0;
   transition: all 0.3s ease;
   background-color: black;
}


 




